.navigation ul{
    display: flex;
    font-size: 20px;
    list-style: none;
    margin-top: 87px;
}

.navigation .spazio{
    margin-right: 54px;
}

.navigation a{
    text-decoration: none;
    color: #FFFFFF
}
.navigation{
    margin-right: 35px;
}